*.pdf
*.env
*.py
/results/**
!/results/AH1S/
!/results/AH1S/CASO1/
!/results/AH1S/CASO1/Balanco_Fase3_Nivelado_VDM_Zp5000ft.png
!/results/AH1S/CASO1/Polar_Fase2_Subida_Zp2500ft.png
!/results/AH1S/CASO1/Decomp_Fase3_Nivelado_VDM_Zp5000ft.png