*.pdf
*.env
__pycache__/
/results/**
!/results/AlphaOne/
!/results/AlphaOne/CASO1/
!/results/AlphaOne/CASO1/Balanco_Fase3_Nivelado_VDM_Zp5000ft.png
!/results/AlphaOne/CASO1/Polar_Fase2_Subida_Zp2500ft.png
!/results/AlphaOne/CASO1/Decomp_Fase3_Nivelado_VDM_Zp5000ft.png
!/results/AlphaOne/comparacoes/
!/results/AlphaOne/comparacoes/Comp_VDM_Tangentes_C1vsC2.png
!/results/AlphaOne/comparacoes/Comp_Decomp_VDM_C1vsC2.png
!/results/AlphaOne/pdf_results.json
